    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    html,
    body,
    #root {
        height: 100%;
    }

    a {
        text-decoration: $textdecoration;
        color: rgb(108, 107, 110);
    }

    body {
        font-family: $fontfamily;
        background-color: white;
        color: $colordos;
        font-size: $size;
        margin: 10px;
        @media (min-width:1024px){
            margin: 20px 40px 20px 40px;
        }
    }

    .container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    align-items: flex-start;
}

.form input {
    padding: .6rem;
    width: 20rem;
    border-radius: .5rem;
    border: 2px solid $colorfooter;
}

.form input:focus {
    outline: 0;
    border: 2px solid var(--clr-main);
    outline: 2px solid var(--clr-main);
}

.form-consulta{
    height: 400px;
}

    nav a {
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 20px;
        padding: 2px 10px 2px 10px;
        border-radius: 10px;
    }

    .navahover:hover, h1 a:hover, .footer_a:hover, .navbar-brand:hover {
        color: $colorfooter;
        transition-property: all;
        transition-duration: 0.5s;
        border-radius: 10px;
    }

    .bkc{
        color: rgba(108, 107, 110, 0.358);
    }

    .bg{
        background-color:rgb(240, 237, 239) ;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .bgcv{
        background-color: rgba(154, 136, 124, 0.107);
    }

    .logo{
        color: rgb(86, 85, 87);
        letter-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
    }

    header{
        background-color: $bgheaderyf;
        border-radius: 20px;
        margin-bottom: 15px;
    }
    .desktop{
        display: none;
    }

        .img_obras{
        width: 60%;
        border-radius: 5px;
    }


    .border{
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
        border-radius: 10px;
        margin-top: 20px;
        border: none;
        padding-top: 5px;
        background-color: rgba(154, 136, 124, 0.107);
        height: calc($alto / 2);
    }

    .card{
        margin-bottom: 20px;
        border-radius: 10px;
    }


    .mainobrassegmq{
        display:none;
    }


    .logo{
        grid-area: logo;
        text-align: center;
        margin: 5px;
        font-size: 30px;
    }


    footer {
        background-color: $bgheaderyf;
        color: $colordos;
        padding: 10px;
        border-radius: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: bold;
    }


    .subtitulo {
        font-family: 'Montserrat', sans-serif;
        height: 40px;
        letter-spacing: 4px;
        font-weight: lighter;
        padding: 2px 2px 0px 2px;
        text-align: center;
        border-radius: 10px;
        width: 100vw;
        margin: 5px;
        background-color: rgba(154, 136, 124, 0.107);
    }

    .barrasubt{
        background-color: $colorsubt;
        border-radius: 15px;
        font-weight: 200px;
        font-size: 50px;
        color: white;
        font-weight: lighter;
        margin-bottom: 10px;
        margin-top: 15px;
    }

    .mixinUno{
        @include size (100%, 500px);
    }


    .botoncont{
        display: inline;
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        border: 0.2px solid $color;
        color:rgba(250, 77, 189, 0.823);
    }

    .boton-cards{
        padding: 15px;
        border-radius: 10px;
    }

    .boton_tienda{
        padding: 10px;
        border-radius: 10px;
    }

    .cont_tienda{
        display:flex;
    }

    .boton_compra{
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255, 255, 48, 0.726);;
        width: 100%;
    }


    .negrita{
        font-weight: bold;
    }

    .contenedor-carrito{
        display:grid;
        grid-template-areas:
        "carrito_vacio"
        "carrito_laminas"
        "carrito_boton";
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .carrito-vacio{
        grid-area: carrito_vacio;
    }

    .carrito-laminas{
        grid-area: carrito_laminas;
    }

    .carrito_boton{
        grid-area: carrito_boton;
    }

    .numero_carrito{
        display: inline;
    }

    nav button:hover {
        background-color: $rosatransparente;
    }

    nav button{
        background-color: $colortres;
        border-radius: 20px;
        margin-bottom: 10px;
    }

    #boton_vaciar_carrito{
        margin-bottom: 20px;
        padding: 5px;
        border-radius: 5px;
    }

    #boton_compra{
        border-radius: 20px;
        padding: 10px;
        background-color: rgba(255, 255, 0, 0.599);
    }

    #contenedor-carrito{
        display: flex;
        align-items: center;
        justify-content: center;
    }

